<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img style="height: 40px;" id="1" src="./assets/p.jpg" loading="lazy"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <router-outlet></router-outlet>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>


            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
           
        </ul>
            
              <button class="btn btn-success text-dark" type="submit" >Sign Up</button>
              <button style="margin-left: 50px;" class="btn btn-success text-dark" type="submit">Login</button>
           
          </div>
        </div>
      </nav>
      <body>
        <section>
        <div class="container mt-3" style="margin-top: 10px;">
         
          <div style="margin-left: 100px;position: fixed;margin-right: 100px;" class="mt-4 p-5 bg-primary text-white rounded">
            <h1><i><b>Pooja Madan Kadam</b></i></h1> 
            <h1>Computer Science Engineer</h1> 
           
            <p>To secure a position where I can learn new technologies and efficiently contribute my skills for the growth of the organization and build my professional career.</p> 
          </div>
        </div>
      </section>

       

<section class="navbar fixed-bottom navbar-expand-lg bg-success navbar-dark">
  
    

    <div style="margin-left: 400px;"  class="credit">Created by <span>Cyber Booster</span> | All Rights Reserved.</div>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-github"></i>
    <div>
     
    
   
    </div>

</section>
      </body>
      
     
     
     

    